@media screen and (max-width: 1229px) {
    #menu {
        margin: 0;
    }

    #header-container {
        padding-right: 20px;
        padding-left: 20px;
    }

    #main-container {
        padding-right: 20px;
        padding-left: 20px;
    }

    #main-img {
        max-width: 400px;
    }

    #main-img img {
        max-width: 100%;
    }

    #products-items {
        justify-content: center;
    }

    .product {
        margin: 12px;
    }

    #order-container {
        padding-right: 20px;
        padding-left: 20px;
    }

    #order-img {
        max-width: 200px;
    }

    #footer-container {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 1023px) {

    #menu {
        max-width: 420px;
    }

    #main-container {
        flex-direction: column;
        padding-top: 70px;
    }

    #main-info {
        order: 2;
    }

    #main-info h1 {
        text-align: center;
    }

    #main-action {
        text-align: center;
    }

    #main-img {
        order: 1;
        padding-bottom: 30px;
    }

    #products-container {
        padding-top: 70px;
    }

    #products-items {
        margin-top: 20px;
    }

    #order-container {
        padding-top: 50px;
        position: relative;
        justify-content: center;
    }

    #order-form {
        margin-left: 20px;
    }

    #order-img {
        position: absolute;
        right: calc(50% - 400px);
        z-index: -1;
    }

    #order-img img {
        position: static;
    }

}

@media screen and (max-width: 767px) {

    #rights {
        margin: 0;
    }

    #footer-container {
        justify-content: space-between;
    }

    #header-container {
        justify-content: center;
        flex-wrap: wrap;
    }

    #menu {
        order: 3;
        margin-top: 15px;
        flex-basis: 100%;
        justify-content: center;
    }

    #menu a.menu-item {
        margin: 0 5px;
    }

    #cards {
        margin-left: 20px;
    }

    #main-info h1 {
        line-height: 45px;
    }

    #order-container {
        flex-wrap: wrap;
        text-align: center;
    }

    #order-text-title {
        line-height: 35px;
    }

    #order-text-message {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #order-form {
        margin: 0 10px;
    }

    #order-img {
        right: calc(50% - 200px);
    }
}

@media screen and (max-width: 649px) {
    #main-advantages {
        max-width: 300px;
        margin: 0 auto;
    }
}


@media screen and (max-width: 424px) {
    #menu {
        position: fixed;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        top: 0;
        left: 0;
        margin: 0;
        padding-top: 30px;
        background: #000000d9;
        display: none;
    }

    #burger {
        display: block;
        margin-right: 20px;
    }

    #burger svg {
        width: 36px;
        height: 36px;
        fill: #f9d6a6;
    }

    #menu.open {
        display: flex;
    }

    #menu svg {
        display: block;
        width: 24px;
        height: 24px;
        fill: rgb(164, 107, 0);
        position: absolute;
        top: 20px;
        left: 20px;
    }

    #menu a.menu-item {
        margin: 15px 5px;
    }

}

@media screen and (max-width: 374px) {
    #main-info h1 {
        font-size: 38px;
    }

    #order-form input {
        width: 290px;
    }

    #rights {
        margin-left: 10px;
    }

}