@font-face {
    src: url("../fonts/MullerRegular.ttf");
    font-family: MullerRegular;
}

@font-face {
    src: url("../fonts/MullerBlack.ttf");
    font-family: MullerBlack;
}

@font-face {
    src: url("../fonts/MullerBold.ttf");
    font-family: MullerBold;
}

@font-face {
    src: url("../fonts/MullerExtraBold.ttf");
    font-family: MullerExtraBold;
}

body {
    margin: 0;
    font-family: MullerRegular, sans-serif;
}

#header {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 13.8px 1.2px rgba(152, 152, 152, 0.2);
}

#header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    font-size: 24px;
    font-family: MullerBlack;
    color: rgb(255, 196, 104);
    text-transform: uppercase;
    line-height: 1.2;
    width: 85px;
    margin-left: 8px;
}

#menu {
    margin: 0 261px 0 248px;
    width: 490px;
    display: flex;
    justify-content: space-between;
}

#menu .menu-item {
    text-decoration: none;
    font-size: 16px;
    color: rgb(164, 107, 0);
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

#menu .menu-item:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

#main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 132px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-info {
    max-width: 622px;
}

#main-info h1 {
    font-size: 45px;
    font-family: "MullerExtraBold";
    color: rgb(185, 145, 80);
    line-height: 1.222;
    margin: 0;
}

#main-info h1 span {
    color: #ffaf18;
}

#main-advantages {
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantage {
    max-width: 292px;
    display: flex;
    align-items: center;
    margin-top: 47px;
}

.advantage-text {
    margin-left: 16px;
}

.advantage-title {
    font-size: 16px;
    font-family: "MullerExtraBold";
    color: rgb(255, 175, 24);
    text-transform: uppercase;
}

.advantage-description {
    font-size: 16px;
    color: rgb(185, 145, 80);
    line-height: 1;
    margin-top: 10px;
}

.btn {
    background-color: rgb(255, 175, 24);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: "MullerBold";
    color: rgb(56, 36, 0);
    padding: 22px;
    box-sizing: border-box;
}

#main-action {
    margin-top: 60px;
}

#main-action .btn {
    width: 224px;
    display: inline-block;
}

#products-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 161px;
}

#products-title {
    font-size: 35px;
    font-family: "MullerBold";
    color: rgb(189, 152, 92);
    text-align: center;
}

#products-items {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 13.8px 1.2px rgba(152, 152, 152, 0.2);
    width: 282px;
    padding: 27px 20px 15px 20px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 24px;
}

.product .product-img {
    height: 155px;
}

.product .product-title {
    font-size: 18px;
    font-family: "MullerBold";
    color: rgb(56, 36, 0);
    margin-top: 15px;
}

.product .product-text {
    font-size: 14px;
    color: rgb(24, 26, 26);
    line-height: 1.286;
    width: 236px;
    height: 49px;
    margin-top: 17px;
}

.product .product-btn.btn {
    width: 100%;
    color: rgb(2, 3, 3);
    outline: 0;
    border: 0;
    padding: 17px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 15px;
}

#order {
    overflow: hidden;
}

#order-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 216px 0 115px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#order-text {
    max-width: 384px;
}

#order-text-title {
    font-size: 35px;
    font-family: "MullerExtraBold";
    color: #b99150;
    line-height: 1.286;
}

#order-text-title span {
    color: #ffaf18;
}

#order-text-message {
    font-size: 16px;
    color: rgb(185, 145, 80);
    line-height: 1.5;
    margin-top: 65px;
}

#order-form {
    max-width: 330px;
}

#order-form input {
    border-width: 1px;
    border-color: rgb(185, 145, 80);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    width: 328px;
    padding: 23px;
    box-sizing: border-box;
    outline: 0;
    font-size: 18px;
    margin-top: 24px;
}

::placeholder {
    color: rgb(203, 168, 110);
}

#order-form button.btn {
    border: 0;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    cursor: pointer;
    margin-top: 24px;
}

#order-img {
    width: 282px;
    position: relative;
}

#order-img img {
    position: absolute;
    bottom: -30px;
    left: 0;
}

#footer {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 13.8px 1.2px rgba(152, 152, 152, 0.2);
}

#footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
}

#rights {
    font-size: 12px;
    color: rgb(186, 179, 179);
    margin-left: 358px;
}

#burger {
    display: none;
}

#menu svg {
    display: none;
}

.error {
    font-size: 12px;
    color: red;
    display: none;
    padding-top: 5px;
}

.border {
    border-color: red;
}

.lds-spinner {
    color: #ffaf18;;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #ffaf18;;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#loader {
    position: fixed;
    background: #000000;
    opacity: 50%;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

#form-ok {
    display: none;
    max-width: 330px;
    font-family: "MullerExtraBold", sans-serif;
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    color: #b99150;
    height: 328px;
    align-items: center;
    justify-content: center;
}





















